/* font-family: 'Black And White Picture', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Special Elite', cursive; */

h1,
h2,
h3,
{
	font-family: 'Dosis', sans-serif;
}

p {
	font-family: 'Dosis', sans-serif;
	color: rgb(126, 126, 126);
	line-height: 50x;
}

.container {
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

.container2 {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

body {
	line-height: auto;
	color: black;
	background: url("assets/grey_@2X.png");
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
}
